<a href="https://colab.research.google.com/github/kishanReddy/Base_repository/blob/master/INSAID/Python_SK/FirstNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Kishan")

Hello Kishan

In [ ]:
data1 = 12
print(data1, "is type of", type(data1))

12 is type of <class 'int'>

In [ ]:
data3 = 100 + 12j
print(data3, "is type of", type(data3))

(100+12j) is type of <class 'complex'>

In [ ]:
stringV1 = "This is an example"
print(stringV1[-1:3])

Python List:
Ordered sequence of items; mutable; uses [ ]

In [ ]:
myList1 = [1, 2.2, "ThirdElement", 12, 24, "etcetera"]
print(myList1)

[1, 2.2, 'ThirdElement', 12, 24, 'etcetera']

In [ ]:
myList1[2] = "ElementThree"
print(myList1)

[1, 2.2, 'ElementThree', 12, 24, 'etcetera']

In [ ]:
myList1.clear()
print(myList1)

[]

Python Tuple: 
Ordered sequence of items same as list.
Immutable;
Tuples onces created cannot be modified.
Used to write-protect data and are usually faster than list as it cannot change dynamically;
Tuple is defined by value separated by comma inside parenthesis ( )

In [ ]:
myTuple = (10, 20, 30, "Text")
print(myTuple[2])
myTuple[2] = 20

30

TypeError: ignored

Python Set:

Unordered collection of unique items; mutable;
As set is unordered index cannot be used to access elements;

set is defined by value separated by comma inside curly braces { }

In [ ]:
myset = {10, 20, 30, 40, 50}
print(myset)

{40, 10, 50, 20, 30}

In [ ]:
myset = {10,  20, 30, 30, 30}
print(myset)

{10, 20, 30}

**Python Dictionary**

Dictionary is an unordered collection of key-value pairs; 
Key is to be known to retrieve the value;
Key and value can be of any type;

In [ ]:
myDict = {'key1':'value1','key2':'value2','key3':'value3'}
print(myDict['key2'])

value2

**Output Formatting**

Refer documentation for more expamples: https://docs.python.org/3.4/library/string.html#format-examples

In [ ]:
myInt1 = 20
myInt2 = 40

print("myInt1: {} is the half of myInt2: {}".format(myInt1, myInt2))

#Formatting useing Index 
print("myInt2: {1} is the double of myInt1: {0}".format(myInt1, myInt2))

myInt1: 20 is the half of myInt2: 40
myInt2: 40 is the double of myInt1: 20

Python Input

User Inputs can be taken in python by using the input() function.

In [ ]:
userInput = input("Please enter some data: ")
print("you typed in: ",userInput)

Please enter some data: 1
you typed in:  1

**Opertors**

Types:
1. Arithmetic {+; -; *; /; %; //; **}
2. Comparison(Relational) {>; <; ==; !=; >=; <=}
3. Logical(Boolean)
4. Bitwise
5. Assignment
6. Special Operators

In [ ]:
#Bitwise
variable1, variable2 =3, 7 
print(variable1 & variable2)
print(variable1 | variable2)
print(~variable2)
print(variable1 ^ variable2)
print(variable1 >> 2)
print(variable1 << 2)

3
7
-8
4
0
12

Interview Qs

In [ ]:
if all

In [ ]:
l = [24, ]

Control Flow

In [2]:
myList = [1, 2, 3, 4, 5]

sum = 0
index = 0
while index < len(myList):
  sum += myList[index]       # sume = sume + myList[index]
  index += 1
print('Sum of the array is: {}'.format(sum))

Sum of the array is: 15

**Example: Calculate the factorial of a number**

In [4]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)

if number <= 0:
  print('Invalid number please re-enter')
  userInput = input("Enter a positive non-zero number: ")
  number = int(userInput)
else:
  fact_number = 1
  while (number != 0):
    fact_number = fact_number * number
    number -= 1 
  print('Thank you, let me share the result with you; Factorial is {}'.format(fact_number))

Enter a positive non-zero number: 5
Thank you, let me share the result with you; Factorial is 120

**Alternate method for factorial**

In [5]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)

if number <= 0:
  print('Invalid number please re-enter')
  userInput = input("Enter a positive non-zero number: ")
  number = int(userInput)
else: 
  print('Thank you, let me share the result with you')

fact = 1
if number > 0:
  while number > 0:
    fact *= number
    number -= 1
  print('The factorial of the number is: ', fact)

Enter a positive non-zero number: -5
Invalid number please re-enter
Enter a positive non-zero number: -3

**Example: Program to calculate the divisors of number**

In [10]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)
listofDivisors = [1]
index = 1
while number > index:
  index += 1
  if ((number%index) == 0):
      listofDivisors.append(index)
  #number -= 1
print('The List of all the Divisors of {}{}'.format(number, listofDivisors))

Enter a positive non-zero number: 6
The List of all the Divisors of 6[1, 2, 3, 6]

**Alternate method: Program to calculate the divisors of number**

In [15]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)
listofDivisors = [1]

for divisor in range(2, int(number/2)+1):
  if (number%divisor == 0):
    listofDivisors.append(divisor)
else:
    print(listofDivisors)

Enter a positive non-zero number: 4696
[1, 2, 4, 8, 587, 1174, 2348]

**Program to calculate first 3 divisors of a number except 2 & 3**

In [20]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)
listofDivisors = [1]

for divisor in range(2, int(number/2)+1):
  if (divisor == 2 or 3):
    continue
  elif (number%divisor == 0):
      listofDivisors.append(divisor)
      if listofDivisors.count == 3:
        break
else:
    print(listofDivisors)

Enter a positive non-zero number: 4696
[1]

**Alternate Method: Program to calculate first 3 divisors of a number except 2 & 3**

In [21]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)
listofDivisors = [1]

for divisor in range(2, int(number/2)+1):
  if (number%divisor == 0):
    if divisor in [2,3]:
      continue
    elif len(listofDivisors) == 3:
      break
    listofDivisors.append(divisor)
print(listofDivisors)

Enter a positive non-zero number: 4696
[1, 4, 8]